# 1. Cleaning

### importing data

In [2]:
import pandas as pd
import openpyxl

In [3]:
csv_file = "D:\\ironhack\\proyectos\\SharkAttack_proy1\DATA\\attacks_1.csv"
shark_attack = pd.read_csv(csv_file, encoding="cp1252")

In [4]:
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
shark_attack.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
12849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5017,1931.06.13,13-Jun-1931,1931.0,Provoked,USA,Hawaii,"Pearl Harbor, O'ahu",Gaffing & attempting to bring onboard a harpoo...,Lieutenant Williamson,M,...,"Tiger shark, 3 m [10']","G.H. Balazs; J. Borg, p.70; L. Taylor (1993), ...",1931.06.13-Williamson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.06.13,1931.06.13,1286.0,NaN,NaN

In [6]:
shark_attack.shape[0]

25723

In [7]:
shark_attack.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

### Null values

In [8]:
shark_attack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [9]:
#revisar si necesito eliminar los NaN
#puedo meterme directo a explorar la columna a ver como se ven con los NaN
#llamando el key y poniendole .isna()

In [10]:
#pd.isnull(shark_attack).sum() same formula
shark_attack.isna().sum()
#for NaN, un promedio de 18000NaNs en una lista de 19803
#conclucion, demasiados NaN tendre que eliminar

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [11]:
shark_attack.notnull().sum()

Case Number               8702
Date                      6302
Year                      6300
Type                      6298
Country                   6252
Area                      5847
Location                  5762
Activity                  5758
Name                      6092
Sex                       5737
Age                       3471
Injury                    6274
Fatal (Y/N)               5763
Time                      2948
Species                   3464
Investigator or Source    6285
pdf                       6302
href formula              6301
href                      6302
Case Number.1             6302
Case Number.2             6302
original order            6309
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

After this filter we can see that it has tons of null data, from 25723 original rows we can see that it will let us with almos 6,000 rows. Not much information and we can clean it.

next step it will be to drop (errase) the rows that dont apport nothing to the data. 
If we throw the formula od dropna with the fuction "any" its not an option, every single row has even one missed cell, we will be applying the function "all"

In [12]:
shark_attack.dropna(how="all",inplace=True)
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
shark_attack.shape[0]

8703

it let us with only 8703 rows. But we still have some missing values in the cells thats wy apears in the formula below that we still have a lot of them, probably half of the columns have NANs.

In [14]:
shark_attack.isna().sum()

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

### Duplicated

In [15]:
shark_attack.shape[0]

8703

In [16]:
shark_attack.duplicated().sum()

2392

This tell us that we have 2,392 raws that are duplicated and will have to be removed, otherwise it will leave us with some false information.

In [17]:
shark_attack.drop_duplicates(inplace=True)
shark_attack.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
840,2011.12.02,02-Dec-2011,2011.0,Unprovoked,AUSTRALIA,New South Wales,Broken Head,Surfing,Milton Carter,M,...,NaN,"Northern Star, 12/3/2011",2011.12.02-Carter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.12.02,2011.12.02,5463.0,NaN,NaN
3030,1981.05.16,16-May-1981,1981.0,Unprovoked,USA,Florida,"Jacksonville, Duval County",Diving,Carey Ford,M,...,Lemon shark,"E. Pace, FSAF",1981.05.16-NV-Ford.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.05.16,1981.05.16,3273.0,NaN,NaN
5565,1899.11.20,20-Nov-1899,1899.0,Sea Disaster,PHILIPPINES,Mindoro Occidental,Off Lubang Island,Sea Disaster,wreck of the steamship Hubeh,NaN,...,NaN,"The Mercury, 1/191900",1899.11.20-Hupeh-wreck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1899.11.20,1899.11.20,738.0,NaN,NaN
626,2013.09.07.a,07-Sep-2013,2013.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Standing,Marco Edmundo Cardiel,M,...,3' shark,"Orlando Sentinel, 9/7/2013",2013.09.07.a-Cardiel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.09.07.a,2013.09.07.a,5677.0,NaN,NaN
3367,1971.04.05.a,5-Apr-1971,1971.0,Unprovoked,VENEZUELA,NaN,NaN,NaN,Tarcisio Mayora,M,...,NaN,H.D. Baldridge (1994) SAF Case #1646,1971.04.05.a-NV-T-Mayora.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1971.04.05.a,1971.04.05.a,2936.0,NaN,NaN

In [18]:
shark_attack.shape[0]

6311

This leave us with only 6,311 rows that are not duplicated and have minimum 1 real value.
Because I can notice that there are still some rows that looks preatty empty and the few values that could have it might not be important to us and our investigation.

### columns

passing throw the Data frame I notice that theres some columns that are not relevant to our investigation, that doesnt apport anything of value that we could could benefit

In [19]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3905,1961.04.16.b,16-Apr-1961,1961.0,Unprovoked,USA,Florida,"Fowey Rock Light, Miami",Spearfishing,Rolf Ericson,M,...,"Tiger shark, 3 m [10']","W. M. Stephens; H.D. Baldridge, p.166; Clark, ...",1961.04.16.b-Ericson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1961.04.16.b,1961.04.16.b,2398.0,NaN,NaN

In [20]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

There are some columns that makes me have some interest, in wich ones we could errase because of our lak of information for us, for example the las 2 columns 'Unnamed: 22', 'Unnamed: 23', seen the samples we could see that theres only non values and actually the tittle doesn´t give us any explanetion.
We will erase them.

In [21]:
shark_attack[['Unnamed: 22', "Unnamed: 23"]].sample(5)

     Unnamed: 22 Unnamed: 23
3787         NaN         NaN
1505         NaN         NaN
2884         NaN         NaN
260          NaN         NaN
4416         NaN         NaN

In [22]:
shark_attack.drop(columns =['Unnamed: 22', "Unnamed: 23"], inplace=True, axis=1)

In [33]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
2358,1995.08.13.a,13-Aug-1995,1995.0,Invalid,USA,North Carolina,"Emerald Isle, Carteret County",Swimming,Kyle Dickens,M,...,NaN,NaN,Invalid,"J. L. Almeida, M.D.",1995.08.13.a-Dickens.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.08.13.a,1995.08.13.a,3945.0

more research in columns: lets see if the internet links could help us with our research.

In [28]:
shark_attack['href formula'].sample(5)

4321    http://sharkattackfile.net/spreadsheets/pdf_di...
1871    http://sharkattackfile.net/spreadsheets/pdf_di...
5605    http://sharkattackfile.net/spreadsheets/pdf_di...
5206    http://sharkattackfile.net/spreadsheets/pdf_di...
1903    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, dtype: object

In [29]:
shark_attack['href'].sample(5)

6232    http://sharkattackfile.net/spreadsheets/pdf_di...
3485    http://sharkattackfile.net/spreadsheets/pdf_di...
638     http://sharkattackfile.net/spreadsheets/pdf_di...
5127    http://sharkattackfile.net/spreadsheets/pdf_di...
1583    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, dtype: object

Exploring this 2 columns 'href formula' and 'href' we can realice that they apporr some internet links, but going throw them they the pages dont exist amymore.

In [30]:
shark_attack['Case Number.1'].sample(5)

4174    1958.00.00.h
2370      1995.07.23
6012    1853.00.00.b
2452      1994.02.00
4351    1954.00.00.e
Name: Case Number.1, dtype: object

other columns that dont apport anything of value are 'Case Number.1', 'Case Number.2'  we can see that the information there is actually the same and its the date of the attack that we do have it already in other columns at the beginning, and 'original order' dont aport us anything.
we´ll pass to some more drop cleaning.

In [35]:
shark_attack.drop(columns =['href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order'], inplace=True, axis=1)

In [43]:
shark_attack.sample(50)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
2125,1999.04.22,22-Apr-1999,1999.0,Unprovoked,MAURITIUS,Grand Baie,Pointe aux Canonniers,Swimming,Sylvia Lanner,F,41,Thigh bitten,N,06h00,"Grey reef shark, 1.5 m",NaN,1999.04.22-Lanner.pdf
2948,1983.03.22,22-Mar-1983,1983.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Nahoon,Surfing,Ian Johnson,M,NaN,"No injury, board bitten",N,12h30,Blacktip or spinner shark,"G. Cliff, NSB",1983.03.22-IanJohnson.pdf
2391,1995.04.13,13-Apr-1995,1995.0,Unprovoked,USA,Florida,"Ormond Beach, Volusia County",NaN,Mark Degraff,M,20,Puncture wounds on right foot,N,13h20,NaN,"S. Petersohn, GSAF",1995.04.13-NV-OrmondBeach.pdf
5956,1863.03.05,05-Mar-1863,1863.0,Unprovoked,AUSTRALIA,Victoria,Brighton,Floating on back,William Thorn,M,NaN,Lacerations to right torso & ankle,N,20h00,NaN,"Argus, 3/10/1863",1863.03.05-Thorn.pdf
5329,1915.00.00,Ca. 1915,1915.0,Invalid,USA,Florida,"Soldier Key, Miami-Dade County",NaN,Remains of male found in shark,M,NaN,"Fatal, drowning or scavenging",NaN,NaN,"Reported to involve a 3.7 m [12'] shark, possi...","Fishing Gazette 1915, Vol. 32, No. 10, p.296",1915.00.00-HumanRemains.pdf
4522,1949.00.00.g,1949-1950,1949.0,Boating,ITALY,Tyrrhenian Sea,San Vincenzo,"Fishing, on a boat",male,M,NaN,No injury to occupant,N,NaN,White shark,A. De Maddalena; V. Biagi (pers. Comm.),1949.00.00.g-boat.pdf
287,2016.04.13,13-Apr-2016,2016.0,Unprovoked,USA,Florida,"Off Singer Island, Palm Beach County",Spearfishing,Kyle Senkowicz,M,26,Multiple bites to right arm,N,NaN,"Bull shark, 7'","Palm Beach Post, 4/13/2016",2016.04.13-Senkowicz.pdf
6167,1617.00.00.R,Reported 1617,1617.0,Unprovoked,INDIA,West Bengal,Ganges Delta,NaN,Indian people,NaN,NaN,NaN,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf
1813,2002.11.02,02-Nov-2002,2002.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Boogie boarding,A.H.,M,16,Puncture wounds on right foot,N,13h25,3' to 4' shark,"S. Petersohn, GSAF",2002.11.02-AH.pdf
5939,1864.09.18.R,Reported 18-Sep-1864,1864.0,Provoked,FRANCE,Alpes Maritime,Antibes,Dragging a shark,fisherman,M,NaN,Knee bitten PROVOKED INCIDENT,N,NaN,1.5 m shark,"C. Moore, GSAF",1864.09.18.R-Antibes.pdf
3853,1962.01.08,08-Jan-1962,1962.0,Invalid,AUSTRALIA,New South Wales,Lake Illawarra,Swimming,William McLeod,M,25,"Remains recovered from 10' shark, but shark in...",NaN,NaN,Shark involvement prior to death was not confi...,"Canberra Times, 1/11/1962",1962.01.08-McLeod.pdf
2347,1995.08.31.b,31-Aug-1995,1995.0,Unprovoked,USA,Florida,"North Beach Inlet, St. Lucie County",Surfing,Jason Cablish,M,19,Left hand & forearm bitten,N,NaN,1.2 m to 1.5 m [4' to 5'] shark,"Fort Pierce Tribune, 9/1/1995",1995.08.31.b-Cablish.pdf
2743,1988.03.31,31-Mar-1988,1988.0,Unprovoked,USA,Florida,"Singer Island, Riviera Beach, Palm Beach County",Standing,Peggy Schaefer,F,30,Foot bitten,N,NaN,NaN,"Milwaukee Journal, 4/12/1988",1988.03.31-Schaefer.pdf
1047,2010.01.30,31-Jan-2010,2010.0,Unprovoked,BRAZIL,Rio Grande Do Sul,"Atlantis Beach, near Tramandai",Surfing,Andrei Johann,M,29,Foot bitten,N,NaN,Thought to involve a juvenile hammerhead shark,"C. Eksander, GSAF",2010.01.30-Andrei.pdf
2576,1991.11.19,19-Nov-1991,1991.0,Unprovoked,USA,Hawaii,"Maliko Point, Maui","Fishing from rocks, swept out to sea by large ...",Suk Kyu (Steve) Park,M,NaN,"Body not recovered, shorts found indicating sh...",Y,16h30,"Tiger shark, 3.7 m [12']","J. Borg, pp.79-80; L. Taylor (1993), pp.110-111",1991.11.19-Park.pdf
3285,1973.12.25,25-Dec-1973,1973.0,Unprovoked,MOZAMBIQUE,Gaza,Xai Xai,Spearfishing,Christiaan Weissig,M,41,"Right leg severed at knee, abrasion on left ankle",N,11h20,NaN,"J. Bass; M Levine, GSAF",1973.12.25-Weissig.pdf
1544,2005.09.27.R,Reported 27-Sep-2005,2005.0,Unprovoked,AUSTRALIA,New South Wales,Arakoon's Little Bay,Surfing,Wal Lewis,M,28,"No injury, knocked off board",N,NaN,"Tiger shark, 3 m","Macleay Argues, 9/27/2005",2005.09.27.R- Lewis.pdf
4826,1938.00.00.e.R,Reported 1938,1938.0,Unprovoked,EGYPT,NaN,Mersa Matruh,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1938.00.00.e.R-Egypt.pdf
5809,1881.08.12,12-Aug-1881,1881.0,Unprovoked,USA,Rhode Island,Providence,Swimming,Jerry Lowney,M,NaN,"No injury, overalls ripped by shark",N,NaN,NaN,Providence Journal 8/15/1881,1881.08.12-Lowney.pdf
4880,1936.04.22,22-Apr-1936,1936.0,Unprovoked,AUSTRALIA,Queensland,Arlington Reef near Cairns,Diving for trochus,Guisne Oscoto (Japanese),M,16,"Arm & back bitten, heel lacerated",N,10h00,"Tiger shark, 4.6 m [15']","Sydney Morning Herald, 4/23/1936",1936.04.22-Oscoto.pdf
4603,1946.02.16,16-Feb-1946,1946.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"South Beach, Durban",Treading water,Ernest Tomson,M,21,Right arm severely lacerated,N,16h00,NaN,"M. Levine, GSAF",1946.02.16-Tomson.pdf
5754,1886.05.06,06-May-1886,1886.0,Unprovoked,NEW CALEDONIA,South Province,Noumea,Bathing,male,M,NaN,FATAL,Y,12h00,NaN,"Timaru Herald, 6/8/1886",1886.05.06-Noumea.pdf
1145,2009.03.19.a,19-Mar-2009,2009.0,Unprovoked,AUSTRALIA,New South Wales,Bateman's Bay,Surfing,Bernadette Davis,F,NaN,"No injury, shark bit nose of surfboard",N,07h45,NaN,"Canberra Times, 3/20/2009",2009.03.19.a-Davis.pdf
100,2017.08.23,23-Aug-2017,2017.0,Unprovoked,USA,Massachusetts,"Marconi Beach, Wellfleet, Barnstable County",SUP,Cleveland Bigelow,M,69,Not injured by shark but board bitten,N,10h00,"White shark, 5' to 7'","Cape Cod Times, 8/23/2017",2017.08.23-Bigelow.pdf
1819,2002.10.05.a,05-Oct-2002,2002.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Ivan Rios,M,35,Heel & back of right knee lacerated,N,13h30,3.5' to 4.5' shark,"S. Petersohn, GSAF; Daytona Beach News Journal...",2002.10.05.a-Rios.pdf
424,2015.05.15,15-May-2015,2015.0,Unprovoked,USA,South Carolina,Sullivan's Island,NaN,male,M,30,Laceration to foot,N,14h15,6' shark,"News 2, 5/15/2015",2015.05.15-Sullivans.pdf
4833,1937.11.06.R,Reported 06-Nov-1937,1937.0,Sea Disaster,SOLOMON ISLANDS,NaN,NaN,Two canoes with 14 aboard blown to sea in a st...,NaN,M,NaN,FATAL,Y,NaN,NaN,"The Argus, 11/6/1937",1937.11.06.R-Solomon-Islands.pdf
3407,1970.01.00,Jan-1970,1970.0,Unprovoked,PAPUA NEW GUINEA,New Ireland Province,NaN,Freediving,Mosley,M,15,Lacerations to back,N,NaN,NaN,"Brainerd Daily Dispatch, 1/13/1970",1970.01.00-NV-Mosley.pdf
5291,1917.05.05,Reported 05-May-1917,1917.0,Unprovoked,KUWAIT,NaN,NaN,Diving for pearls,a young Arab,M,NaN,Torso bitten,N,NaN,NaN,"Denton Journal, 5/5/1917",1917.05.05-Arab.pdf
3105,1979.03.00,Mar-1979,1979.0,Unprovoked,NEW CALEDONIA,Grand Terre,"Five Mile Beach, I'le Ouen",Spearfishing,Manuel Teau,M,NaN,"Presumed FATAL, body not recovered",Y,NaN,NaN,W. Leander,1979.03.00-Teau.pdf
3325,1972.09.04,04-Sep-1972,1972.0,Invalid,MOZAMBIQUE,Maputo Province,Inhaca Island,Swimming,Yvonne Vladislavick,F,20,Feet injured,NaN,NaN,Questionable incident,"Daily News, 9/6/1972",1972.09.04-Vladislavick.pdf
1661,2004.06.26.a,26-Jun-2004,2004.0,Invalid,AUSTRALIA,Western Australia,Floreat Beach,Crayfishing,Gavin Duncan,M,NaN,"No injury, shark made threat displays & diver ...",NaN,NaN,Invalid,"T. Peake, GSAF; Sunday Times (Perth) 6/27/200...",2004.06.26.a-Duncan.pdf
304,2016.02.19,19-Feb-2016,2016.0,Unprovoked,NEW CALEDONIA,South Province,Yate,Spearfishing,male,M,31,Forearm bitten,N,16h00,NaN,"Les Nouvelles Calédoniennes, 2/19/2016",2016.02.19-NewCaledonia.pdf
1219,2008.08.18,18-Aug-2008,2008.0,Invalid,USA,South Carolina,"North Myrtle Beach, Horry County",NaN,male,M,7,Minor injuries,NaN,NaN,Shark involvement not confirmed,C. Creswell,2008.08.18-boy-SC.pdf
6080,1836.07.26.R,1836.07.26.R,1836.0,Invalid,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,"Shark caught, contained human remains",NaN,NaN,Shark involvement prior to death unconfirmed,"C. Moore, GSAF",1836.07.26.R-Spain.pdf
6056,1845.00.00.R,Reported 1845,1845.0,Unprovoked,SIERRA LEONE,NaN,NaN,NaN,"""The Queen's Chaplain""",M,NaN,FATAL,Y,NaN,NaN,Journal of an African Cruiser,1845.00.00.R-SierraLeone.pdf
2997,1982.00.00.b,1982,1982.0,Boat,ITALY,Tyrrhenian Sea,"Biodola, Isola d'Elba",Fishing on a boat,Giuseppe Campodonico,M,NaN,No injury,N,NaN,White shark,"A. De Maddalena; Perfetti (1989), M. Zuffa (pe...",1982.00.00.b-Campodonico.pdf
1235,2008.07.13,13-Jul-2008,2008.0,Invalid,USA,North Carolina,"Carolina Beach, New Hanover County",Body surfing,Donald Griffin,M,52,"Bruises, abrasions and some spinal and nerve d...",NaN,NaN,Shark involvement not confirmed,"C. Creswell, GSAF",2008.07.13-Griffin.pdf
1126,2009.05.16.b,16-May-2009,2009.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Bryan Heath,M,49,Lacerations to right foot,N,10h27,blacktip or spinner shark,"S. Petersohn, GSAF",2009.05.16.b-Heath.pdf
3138,1977.10.30,30-Oct-1977,1977.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Bluegums Rock, Partridge Point",Spearfishing,Andre Hartman,M,25,"No injury, shark bit speargun & pushed diver t...",N,16h00,"White shark, 5 m [16.5']","A. Hartman; M. Levine, GSAF",1977.10.30-Hartman.pdf
4626,1945.02.05,05-Feb-1945,1945.0,Unprovoked,ISRAEL,Tel Aviv,NaN,Swimming,British constable,M,NaN,"Survived. R.A.F. pilot, seeing commotion in th...",N,NaN,NaN,"NY Times, 2/6/1945, p.3; V.M. Coppleson (1958)...",1945.02.05-Constable-TelAviv.pdf
4967,1933.05.03,03-May-1933,1933.0,Sea Disaster,CUBA,Havana Province,"Off Jaimanitas Yacht Club, Havana",Swimming to shore from capsized sailboat,Majin Alvarez Piedra,M,NaN,FATAL,Y,NaN,NaN,"NY Times, May 4, 1933",1933.05.03-sailor_cuba.pdf
3113,1978.09.27,27-Sep-1978,1978.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Miller's Point, False Bay",Spearfishing,Erik Lombard,M,27,"No injury, shark took his catch, then towed & ...",N,16h00,"White shark, 3.7 m [12']","E. Lombard, M. Levine, GSAF",1978.09.27-Lombard.pdf
5603,1898.00.00.a,Summer of 1898,1898.0,Unprovoked,YEMEN,Aden,Harbor,Diving for coins,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Kennebec Journal, 3/27/1911",1898.00.00.a-AdenDiver.pdf
686,2013.04.10,10-Apr-2013,2013.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,"North Pass, Fakarava",Kite boarding,Nick Eitel,M,53,"Underside of board, fins and, harness were dam...",N,12h00,Possibly a blacktip reef shark,N. Eitel,2013.04.10-Eitel.pdf
20,2018.04.25.b,25-Apr-2018,2018.0,Questionable,AUSTRALIA,New South Wales,Lennox Head,Surfing,Matthew Lee,M,NaN,No injury,N,07h00,Questionable,"B. Myatt, GSAF",2018.04.25.b-Lee.pdf
4715,1942.03.08,08-Mar-1942,1942.0,Sea Disaster,CUBA,Guantanamo Province,30 nm southeast of Guantanamo Bay,Esso Bolivar was torpedoed & shelled by the Ge...,A wounded member of Naval guncrew being towed ...,M,NaN,"Of her crew of 50, eight perished, including t...",Y,Ship aban-doned at 03h10,NaN,"Baltimore Evening Sun, 4/13/1942",1942.03.08-EssoBolivar.pdf
3966,1960.08.30,30-Aug-1960,1960.0,Unprovoked,USA,New Jersey,"Ocean City, Cape May County",Swimming 3 miles offshore,Richard Chung,M,25,Right leg severely lacerated,N,17h15,NaN,"R. Chung; Dr. Godfrey; V.M. Coppleson (1962), ...",1960.08.30-Chung.pdf
1227,2008.07.26.a,26-Jul-2008,2008.0,Unprovoked,USA,Hawaii,"Honokowai, Maui",Swimming,U. Mataafa,M,NaN,Minor injury,N,15h30,2' to 3' reef shark,"Maui News, 7/27/2008",2008.07.26.a-Maui
5110,1928.03.28.R,Reported 28-Mar-1928,1928.0,Unprovoked,AUSTRALIA,Queensland,NaN,NaN,Bob,M,NaN,Hip bitten,N,NaN,NaN,"Townsville Daily Bulletin, 3/28/1928",1928.03.28.R-Bob.pdf

In [48]:
shark_attack["Type"].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [50]:
shark_attack['Sex '].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex , dtype: int64

In [51]:
shark_attack['Age'].value_counts()

17                154
18                150
19                142
20                141
15                139
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
13 or 14            1
Name: Age, Length: 157, dtype: int64

In [45]:
#no proprciona mucha informacion, o nula.
shark_attack.describe()

              Year
count  6300.000000
mean   1927.272381
std     281.116308
min       0.000000
25%    1942.000000
50%    1977.000000
75%    2005.000000
max    2018.000000

In [46]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
3995,1960.04.24,24-Apr-1960,1960.0,Unprovoked,USA,California,"Tomales Point, Marin County",Skindiving for abalone (but at surface),Frank I. Gilbert,M,48,Foot & swim fin bitten,N,14h00,"White shark, 4.9 m [16']","F.I. Gilbert; Follett, p. 192-198; D. Miller &...",1960.04.24-Gilbert_Collier.pdf

In [47]:
shark_attack["Country"].value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64