# 1. Cleaning

### importing data

In [63]:
import pandas as pd
import openpyxl

In [224]:
csv_file = "D:\\ironhack\\proyectos\\SharkAttack_proy1\DATA\\attacks_1.csv"
shark_attack = pd.read_csv(csv_file, encoding="cp1252")

In [225]:
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
shark_attack.sample(3)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
17712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
shark_attack.shape[0]

25723

In [228]:
shark_attack.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

### Null values

In [229]:
shark_attack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [230]:
#revisar si necesito eliminar los NaN
#puedo meterme directo a explorar la columna a ver como se ven con los NaN
#llamando el key y poniendole .isna()

In [231]:
#pd.isnull(shark_attack).sum() same formula
shark_attack.isna().sum()
#for NaN, un promedio de 18000NaNs en una lista de 19803
#conclucion, demasiados NaN tendre que eliminar

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [232]:
shark_attack.notnull().sum()

Case Number               8702
Date                      6302
Year                      6300
Type                      6298
Country                   6252
Area                      5847
Location                  5762
Activity                  5758
Name                      6092
Sex                       5737
Age                       3471
Injury                    6274
Fatal (Y/N)               5763
Time                      2948
Species                   3464
Investigator or Source    6285
pdf                       6302
href formula              6301
href                      6302
Case Number.1             6302
Case Number.2             6302
original order            6309
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

After this filter we can see that it has tons of null data, from 25723 original rows we can see that it will let us with almos 6,000 rows. Not much information and we can clean it.

next step it will be to drop (errase) the rows that dont apport nothing to the data. 
If we throw the formula od dropna with the fuction "any" its not an option, every single row has even one missed cell, we will be applying the function "all"

In [233]:
shark_attack.dropna(how="all",inplace=True)
shark_attack

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
shark_attack.shape[0]

8703

it let us with only 8703 rows. But we still have some missing values in the cells thats wy apears in the formula below that we still have a lot of them, probably half of the columns have NANs.

In [235]:
shark_attack.isna().sum()

Case Number                  1
Date                      2401
Year                      2403
Type                      2405
Country                   2451
Area                      2856
Location                  2941
Activity                  2945
Name                      2611
Sex                       2966
Age                       5232
Injury                    2429
Fatal (Y/N)               2940
Time                      5755
Species                   5239
Investigator or Source    2418
pdf                       2401
href formula              2402
href                      2401
Case Number.1             2401
Case Number.2             2401
original order            2394
Unnamed: 22               8702
Unnamed: 23               8701
dtype: int64

### Duplicated

In [236]:
shark_attack.shape[0]

8703

In [237]:
shark_attack.duplicated().sum()

2392

This tell us that we have 2,392 raws that are duplicated and will have to be removed, otherwise it will leave us with some false information.

In [238]:
shark_attack.drop_duplicates(inplace=True)
shark_attack.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3694,1964.02.14.a,14-Feb-1964,1964.0,Unprovoked,FIJI,Vanua Levu,"Nailou Village, Tunuloa Natewa Bay",Spearfishing,Ivo Berabi,M,...,NaN,Fiji Times; L. Schultz,1964.02.14.a-Berabi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.02.14.a,1964.02.14.a,2609.0,NaN,NaN
6170,1580.01.10.R,Letter dated 10-Jan-1580,1580.0,Unprovoked,Between PORTUGAL & INDIA,NaN,NaN,Man fell overboard from ship. Those on board t...,male,M,...,NaN,"G.P. Whitley, p. 10",1580.01.10.R-Portugal-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1580.01.10.R,1580.01.10.R,133.0,NaN,NaN
4586,1947.02.00,Feb-1947,1947.0,Unprovoked,BRAZIL,Rio de Janeiro,Copacabana,Bathing,NaN,NaN,...,NaN,"Globo, 5/7/1997",1947.02.00-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1947.02.00,1947.02.00,1717.0,NaN,NaN
4852,1937.03.26,26-Mar-1937,1937.0,Invalid,AUSTRALIA,New South Wales,South Cronulla,Bathing,Austin Shaw,M,...,Shark involvement prior to death was not confi...,"Canberra Times, 3/29/1937, p.1",1937.03.26-Shaw.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1937.03.26,1937.03.26,1451.0,NaN,NaN
441,2015.03.18,18-Mar-2015,2015.0,Unprovoked,USA,Hawaii,Hapuna Beach,Standing / Snorkeling,Ken Grasing,M,...,"Tiger shark, 8 to 12 feet","KMBC, 3/19/2015",2015.03.18-Grasing.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.03.18,2015.03.18,5862.0,NaN,NaN

In [239]:
shark_attack.shape[0]

6311

This leave us with only 6,311 rows that are not duplicated and have minimum 1 real value.
Because I can notice that there are still some rows that looks preatty empty and the few values that could have it might not be important to us and our investigation.

### columns

passing throw the Data frame I notice that theres some columns that are not relevant to our investigation, that doesnt apport anything of value that we could could benefit

In [240]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1597,2005.04.09,09-Apr-2005,2005.0,Invalid,USA,Florida,"Central Gulf Coast, St. John County",Surfing,Glenn Henderson,M,...,Shark involvement not confirmed,"WTSP TampaBays10.com; First Coast News, April ...",2005.04.09-Henderson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.04.09,2005.04.09,4706.0,NaN,NaN

In [241]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

There are some columns that makes me have some interest, in wich ones we could errase because of our lak of information for us, for example the las 2 columns 'Unnamed: 22', 'Unnamed: 23', seen the samples we could see that theres only non values and actually the tittle doesnÂ´t give us any explanetion.
We will erase them.

In [242]:
shark_attack[['Unnamed: 22', "Unnamed: 23"]].sample(5)

     Unnamed: 22 Unnamed: 23
279          NaN         NaN
4372         NaN         NaN
2566         NaN         NaN
5309         NaN         NaN
6066         NaN         NaN

In [243]:
shark_attack.drop(columns =['Unnamed: 22', "Unnamed: 23"], inplace=True, axis=1)

In [244]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
4234,1956.08.25,25-Aug-1956,1956.0,Unprovoked,PAPUA NEW GUINEA,Central Province,"Paga Point or Fishermans Island, Port Moresby",Fishing,"Kara Benagi, from Hula",M,...,Y,NaN,4.3 m [14'] shark,"V.M. Coppleson (1958), pp.49-51 & 264; A.M. Ra...",1956.08.25-Benagi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.08.25,1956.08.25,2069.0

more research in columns: lets see if the internet links could help us with our research.

In [245]:
shark_attack['href formula'].sample(5)

5317    http://sharkattackfile.net/spreadsheets/pdf_di...
472     http://sharkattackfile.net/spreadsheets/pdf_di...
5390    http://sharkattackfile.net/spreadsheets/pdf_di...
2711    http://sharkattackfile.net/spreadsheets/pdf_di...
4055    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, dtype: object

In [246]:
shark_attack['href'].sample(5)

2489    http://sharkattackfile.net/spreadsheets/pdf_di...
3826    http://sharkattackfile.net/spreadsheets/pdf_di...
6043    http://sharkattackfile.net/spreadsheets/pdf_di...
4701    http://sharkattackfile.net/spreadsheets/pdf_di...
4839    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, dtype: object

Exploring this 2 columns 'href formula' and 'href' we can realice that they apporr some internet links, but going throw them they the pages dont exist amymore.

In [247]:
shark_attack['Case Number.1'].sample(5)

3206        1975.10.12
5613    1897.03.15.a.R
3091        1979.08.26
2630        1990.07.08
5621      1896.09.11.R
Name: Case Number.1, dtype: object

other columns that dont apport anything of value are 'Case Number.1', 'Case Number.2'  we can see that the information there is actually the same and its the date of the attack that we do have it already in other columns at the beginning, and 'original order' dont aport us anything.
weÂ´ll pass to some more drop cleaning.

In [248]:
shark_attack.drop(columns =['href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order'], inplace=True, axis=1)

In [249]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
1220,2008.08.16,16-Aug-2008,2008.0,Unprovoked,USA,US Virgin Islands,Buck Island,Treading water,Elizabeth Riggs,F,38,Severe lacerations to left foot,N,Dusk,8' bull shark or Caribbean reef shark,"M. Levne, GSAF",2008.08.16-Riggs.pdf

In [250]:
shark_attack.columns = [i.capitalize().replace(" ", "_") for i in list(shark_attack.columns)]
shark_attack.columns

Index(['Case_number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex_', 'Age', 'Injury', 'Fatal_(y/n)', 'Time',
       'Species_', 'Investigator_or_source', 'Pdf'],
      dtype='object')

In [251]:
#shark_attack.columns = [i.replace(" ", "") for i in list(shark_attack.columns) if i[-1]==" "]
#shark_attack.columns

In [252]:
#for i in list(shark_attack.columns):
 #   i[-1].replace(" ", "")
#shark_attack.columns

In [253]:
#for i in list(shark_attack.columns):
#    for e in range(len(i)):
#        if e == "_":
#            list(shark_attack.columns).append(e.replace("_", ""))
#shark_attack.columns

In [254]:
#for i in list(shark_attack.columns):
#    for e in len(i)if i[-1] == " ":
#        list(shark_attack.columns).append(i.replace(" ", ""))
#shark_attack.columns

In [255]:
shark_attack.sample(50)

,Case_number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex_,Age,Injury,Fatal_(y/n),Time,Species_,Investigator_or_source,Pdf
3522,1967.07.05,05-Jul-1967,1967.0,Unprovoked,TURKEY,Mugla Province,Kucukada Island,Spearfishing,Gungor Guven,M,36,FATAL,Y,13h40,NaN,"C. Moore, GSAF",1967.07.05-Guven.pdf
3585,1966.03.12,14-Mar-1966,1966.0,Sea Disaster,SUDAN,Red Sea,NaN,The World Liberty and the tanker Mosli collide...,NaN,M,NaN,FATAL,Y,NaN,NaN,"G. Burns; Befast News-Letter, 3/30/1966",1966.03.12-RedSea.pdf
4767,1940.03.20,20-Mar-1940,1940.0,Unprovoked,AUSTRALIA,New South Wales,Gerringong,Free diving for lobster,Smiles Walker,M,NaN,Minor injuries to foot,N,NaN,Wobbegong shark,"Sydney Morning Herald, 3/21/1940; V.M. Copples...",1940.03.20-Walker.pdf
21,2018.04.25.a,25-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,"No injury, knocked off board by shark",N,09h30,3 m shark,"B.Myatt, GSAF",2018.04.25.a-Bruce.pdf
3334,1972.05.06,06-May-1972,1972.0,Unprovoked,FRENCH POLYNESIA,Tuamotus,AhÃ© Atoll,Spearfishing,B.T.,M,27,Thigh bitten,N,NaN,1.5 m grey reef shark,"M. Fouques, et.al, pp. 318-319",1972.05.06-BT.pdf
5787,1883.02.25.R,Reported 25-Feb-1883,1883.0,Unprovoked,AUSTRALIA,Northern Territory,the pearling beds,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"The Queenslander, 3/3/1883",1883.02.25.R-Pearl-Diver.pdf
102,2017.08.10,10-Aug-2017,2017.0,Unprovoked,USA,South Carolina,"Sea Pines Resort, Hilton Head Island, Beaufort...",Swimming,Linton Suttle,M,13,Minor cuts to sole & toes of left foot,N,13h30,Possibly a juvenile blacktip shark,"C. Creswell, GSAF",2017.08.10-Suttle.pdf
3062,1980.07.00,Late Jul-1980,1980.0,Unprovoked,USA,North Carolina,"Emerald Isle Pier (near Morehead City), Carter...",Surfing,male,M,NaN,"No injury, bumped off board",N,NaN,NaN,"C. Creswell, GSAF, J. Barnes",1980.07.00-NCsurfer.pdf
3653,1964.12.06,06-Dec-1964,1964.0,Unprovoked,KENYA,Coast Province,"Kilindini Harbor, Mombasa",Fishing with hand line tied to wrist & was pul...,Musa Mohammed,M,10,FATAL,Y,NaN,NaN,"Star, 12/7/1964",1964.12.06-Mohammed.pdf
1125,2009.05.17,17-May-2009,2009.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Provido,M,31,Lacerations to left leg & foot,N,09h35,blacktip or spinner shark,"S. Petersohn, GSAF",2009.05.17-Provido.pdf
699,2013.03.03,03-Mar-2013,2013.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port St. John's,Swimming,Fundile Nogumla,M,39,Injuries to arms & hands,N,NaN,NaN,"Daily Dispatch, 3/4/2013",2013.03.03-Nogumla.pdf
3573,1966.06.22,22-Jun-1966,1966.0,Provoked,USA,New Jersey,"Reeds Bay, Brigantine, Atlantic County",Clamming,Harry Hiksdal,M,15,3 lacerations on right leg by speared fish PR...,N,16h00,Local authorities speculated that the water wa...,Press clippings,1966.06.22-Hiksdal.pdf
626,2013.09.07.a,07-Sep-2013,2013.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Standing,Marco Edmundo Cardiel,M,25,"Minor injury, shin bitten",N,16h00,3' shark,"Orlando Sentinel, 9/7/2013",2013.09.07.a-Cardiel.pdf
5741,1887.09.06,11-Sep-1887,1887.0,Invalid,CROATIA,Primorje-Gorski Kotar County,Kraljevica,NaN,NaN,NaN,NaN,Shoes & human remains found in a shark,NaN,NaN,Shark involvement prior to death unconfirmed,"C. Moore, GSAF",1887.09.06-Croatia.pdf
1913,2001.08.27,27-Aug-2001,2001.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Wading,William Goettel,M,69,Heel lacerated,N,16h20,NaN,"S. Petersohn, GSAF; CNN; M.I. Johnson, Dayto...",2001.08.27-Goettel.pdf
1123,2009.05.31,31-May-2009,2009.0,Provoked,TAIWAN,Off Green Island,Onboard the fishing vessel Chin Sheng Fa 13,Fishing,Zhang Sanqian,M,46,Lacerations to knee & left lower leg by electr...,N,20h30,80 kg shark,"Taiwan News, 5/21/09",2009.05.31-Sangian.pdf
3171,1976.09.17,17-Sep-1976,1976.0,Sea Disaster,HONG KONG,South China Sea 200 miles from Hong Kong,NaN,"3,909-ton Panamanian freighter Chieh Lee sank ...",NaN,M,NaN,"FATAL, right leg bitten",Y,NaN,NaN,"Daily Review, 9/21/1976",1976.09.17-sailor.pdf
1102,2009.07.31,31-July-2009,2009.0,Unprovoked,BAHAMAS,Abaco Islands,Spanish Cay,Spearfishing,Derek Mitchell,M,14,Lacerations to calf,N,NaN,Bull shark,WPTV.com,2009.07.31-Mitchell.pdf
5302,1916.07.13.b,13-Jul-1916,1916.0,Invalid,USA,New York,"Sheepshead Bay, Brooklyn",Swimming,Gertude Hoffman,F,NaN,"No attack, no injury",NaN,10h00,NaN,"New York Times, 7/14/1916",1916.07.13.b-Hoffman.pdf
5873,1875.11.27.R,Reported 27-Nov-1875,1875.0,Unprovoked,AUSTRALIA,New South Wales,Clarence Heads,Fishing,Aboriginal male,M,NaN,Foot severed at ankle,N,NaN,NaN,"Brisbane Courier, 11/27/1875",1875.11.27.R-AboriginalFisherman.pdf
5494,1905.07.02,10-Jul-1905,1905.0,Unprovoked,INDONESIA,Nusa Tenggara,Off Rakit Island,Jumped or fell overboard,a fireman from the Ettrickdale,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1905.07.02-EttrickdaleFireman.pdf
486,2014.10.17,17-Oct-2014,2014.0,Unprovoked,AUSTRALIA,New South Wales,Avoca Beach,Surfing,Kirra-Belle Olsson,F,13,"Lacerations to left calf & ankle, puncture wou...",N,06h30,1 m shark,"Sydney Morning Herald, 10/17/2014","2014.10.17-Olsson, pdf"
5194,1923.12.02,02-Dec-1923,1923.0,Unprovoked,AUSTRALIA,New South Wales,"Urunga, Belliger Heads","Fishing, standing in waist-deep water",James Elton,M,NaN,"FATAL, disappeared, thought to have been taken...",Y,NaN,NaN,"Sydney Morning Herald, 12/5/1923",1923.12.02 - Elton.pdf
3641,1965.01.09,09-Jan-1965,1965.0,Unprovoked,NEW GUINEA,Central Province,Off Gaire Village,Free diving,"Lohia Raho, a male",M,30,FATAL,Y,NaN,4.9 m [16'] whaler,"South Pacific Post (Port Moresby), 1/11/1965",1965.01.09-Raho.pdf
5775,1884.08.28.R.,Reported 28-Aug-1884,1884.0,Unprovoked,USA,New Jersey,"Bayonne, Hudson County",Boating,Edward Monroe,M,NaN,Hand bitten,N,NaN,NaN,"Atlanta Contitution, 8/28/1884",1884.08.28.R-EdwardMonroe.pdf
2754,1988.01.14,14-Jan-1988,1988.0,Provoked,USA,Louisiana,NaN,Fishing,Chip,M,NaN,Hand bitten by captured shark PROVOKED INCIDENT,N,NaN,Mako shark,"C. Johansson, GSAF",1988.01.14-Chip.pdf
1183,2008.12.20,20-Dec-2008,2008.0,Boating,USA,California,"Dillon Beach, Marin County",Kayaking,Tony Johnson,M,NaN,"No injury, shark struck paddle",N,15h00,White shark,R. Collier,2008.12.20-Johnson.pdf
3193,1976.01.12,12-Jan-1976,1976.0,Unprovoked,AUSTRALIA,Queensland,Harvey Bay,NaN,Marlene Evler,F,NaN,Survived,N,NaN,NaN,"R. McKenzie, Coast Sun, 9/6/1987, p.11",1976.01.12-Evler.pdf
1045,2010.02.03,03-Feb-2010,2010.0,Unprovoked,USA,Florida,"Stuart, Martin County",Kite Boarding,Stephen Howard Schafer,M,38,FATAL,Y,15h44,NaN,"TC Palm, 2/3/2010",2010.02.03-Schafer.pdf
5102,1928.07.00,Late Jul-1928,1928.0,Provoked,ITALY,Tuscany,Viareggio,Boating,Mr. Bagolinii,M,NaN,"No injury, shark approached the boat, he hit i...",N,NaN,"Species unknown, possibly a white shark",A. De Maddalena; Gianturco (1978),1928.07.00-Bagolini.pdf
5091,1929.00.00.c,1929,1929.0,Provoked,USA,Florida,Indian River area,Fishing,Buck Jones,M,NaN,Thigh lacerated by hooked shark PROVOKED INCIDENT,N,NaN,9' shark,"News Tribune, 6/28/1964",1929.00.00.c-Jones.pdf
1127,2009.05.16.a,16-May-2009,2009.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,David Bryant,M,55,Lacerations to right hand,N,10h16,blacktip or spinner shark,"S. Petersohn, GSAF",2009.05.16.a-Bryant.pdf
4256,1956.03.25,25-Mar-1956,1956.0,Boating,ITALY,Ligurian Sea,"Genova, S. Nazaro, Punta Vagno",Boating,NaN,NaN,NaN,No details,UNKNOWN,NaN,Said to involve a 7 m [23'] white shark,A. De Maddalena; Mojetta et al. (1997),1956.03.25-Italy.pdf
5333,1914.09.09,09-Sep-1914,1914.0,Unprovoked,USA,Louisiana,Lake Pontchartrain,Swimming,Peter Kontspoulas,M,17,FATAL,Y,NaN,NaN,"Washington Post, 9/10/1914, p.6",1914.09.09-PeterKontspoulas.pdf
233,2016.08.04,04-Aug-2016,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf
3414,1970.00.00.b,1970s,1970.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming,male,M,35,"FATAL, left leg severed",Y,12h00,NaN,B.W. Coad & L.A.J. Al-Hassan,1970.00.00.b-Shatt-al-Arab.pdf
5527,1902.12.22.R,Reported 22-Dec-1902,1902.0,Unprovoked,NICARAGUA,Rio San Juan,Greytown,Swimming,Frederick Wiseman,M,30,FATAL,Y,18h00,NaN,"Racine Daily Journal, 12/22/1902",1902.12.22.R-Wiseman.pdf
1569,2005.07.15.R,Reported 15-Jul-2005,2005.0,Invalid,AUSTRALIA,NaN,NaN,NaN,"Jeff Wells claimed he rescued his ""daughter"" f...",NaN,NaN,"A hoax - No shark was involved and Wells' ""dau...",NaN,NaN,No shark involvement,"Sunday Mail, 15/7/2005",2005.07.15.R- Hoax.pdf
1095,2009.08.30,30-Aug-2009,2009.0,Unprovoked,USA,California,"Huntington Beach, Orange County",Surfing,Cory Hedgepeth,M,NaN,No injury,N,18h30,4' shark,"R. Collier, GSAF",2009.08.30-Hedgepeth.pdf
1949,2001.05.04,04-May-2001,2001.0,Unprovoked,AUSTRALIA,New South Wales,Noraville,Surfing,Michael Valentine,M,33 or 37,"Chest lacerated, surfboard bitten",N,17h45,NaN,"Newcastle Herald; Sunday Mail (QLD), 5/6/2001,...",2001.05.04-Valentine.pdf
973,2010.10.28.R,Reported 28-Oct-2010,2010.0,Unprovoked,AUSTRALIA,Western Australia,Cheynes Beach,Spearfishing,Deacon Plant,M,NaN,"No injury, shark head-butted diver's thigh",N,NaN,NaN,"Albany & Great Southern Weekender, 10/28/2010",2010.10.28.R-Plant.pdf
947,2011.02.12,12-Feb-2011,2011.0,Unprovoked,AUSTRALIA,Western Australia,Exmouth,Snorkeling,Allen ___,M,58,Arm bitten,N,Late afternoon,NaN,"T. Peake, GSAF",2011.02.12-Exmouth.pdf
6244,ND.0062,Before 1960,0.0,Unprovoked,BAHAMAS,Andros Islands,NaN,NaN,"male, a sponge Diver",M,NaN,Lower leg and forearm severed,N,NaN,"White shark, 7' to 8'","Star-Ledger (Newark, NJ), 8/22/1960",ND-0062-Spongediver-Andros.pdf
3981,1960.07.02.a,02-Jul-1960,1960.0,Unprovoked,PAPUA NEW GUINEA,Madang,"Bimat, Bogia",Fishing,an Aid Post orderly,M,NaN,Right buttock slashed,N,NaN,NaN,"A.M. Rapson, p.150",1960.07.02-Orderly.pdf
2463,1993.11.21,21-Nov-1993,1993.0,Unprovoked,AUSTRALIA,Western Australia,A pearl farm in Roebuck Bay,Hookah diving,Richard Peter Bisley,M,27,FATAL,Y,15h15,Tiger shark caught 6 days later with diverâs r...,"H. Edwards, pp.135-137",1993.11.21-Bisley.pdf
4260,1956.02.26,26-Feb-1956,1956.0,Unprovoked,AUSTRALIA,Queensland,Pioneer River near Mackay,Diving into water,Barry Keith Antonini,M,15,"FATAL, large amount of tissue removed from leg...",Y,11h00,1.8 m [6'] shark,"B. Thompson; L. Schultz & M. Malin, p.521",1956.02.26-Antonini.pdf
1578,2005.06.16,16-Jun-2005,2005.0,Unprovoked,USA,Florida,Howard E. Futch Memorial Park at Paradise Beac...,Swimming,male,M,20,Foot bitten,N,Afternoon,"Unknown, but it was reported that a shark toot...",Local6.com,2005.06.16-male.pdf
5356,1913.08.26.R,26-Aug-1913,1913.0,Invalid,ITALY,Trieste,NaN,NaN,NaN,NaN,NaN,Human casualties,NaN,NaN,Shark involvement prior to death unconfirmed,"C. Moore, GSAF",1913.08.26.R-Trieste.pdf
2873,1984.10.21.b,21-Oct-1984,1984.0,Invalid,USA,Florida,"Wabasso Beach, Indian River County",Swimming,Larry Peebles,M,22,"Disappeared, 1 mile from where Sandra Fletcher...",NaN,14h00,Shark involvement prior to death was not confi...,"Evening Independent, 10/24/1984, p.14; E....",1984.10.21.b-Peebles.pdf
1926,2001.08.05,05-Aug-2001,2001.0,Unprovoked,USA,South Carolina,"Near 70th Avenue, Myrtle Beach, Horry County",NaN,female,F,NaN,Toe bitten,N,NaN,NaN,"C. Creswell, GSAF",2001.08.05-female.pdf

In [261]:
shark_attack['Sex_'].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex_, dtype: int64

In [256]:
shark_attack["Type"].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [258]:
shark_attack['Sex_'].value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: Sex_, dtype: int64

In [51]:
shark_attack['Age'].value_counts()

17                154
18                150
19                142
20                141
15                139
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
13 or 14            1
Name: Age, Length: 157, dtype: int64

In [260]:
shark_attack['Species_'].value_counts()

White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species_, Length: 1549, dtype: int64

In [ ]:
shark_attack['Species_'].value_counts()

In [45]:
#no proprciona mucha informacion, o nula.
shark_attack.describe()

              Year
count  6300.000000
mean   1927.272381
std     281.116308
min       0.000000
25%    1942.000000
50%    1977.000000
75%    2005.000000
max    2018.000000

In [46]:
shark_attack.sample()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf
3995,1960.04.24,24-Apr-1960,1960.0,Unprovoked,USA,California,"Tomales Point, Marin County",Skindiving for abalone (but at surface),Frank I. Gilbert,M,48,Foot & swim fin bitten,N,14h00,"White shark, 4.9 m [16']","F.I. Gilbert; Follett, p. 192-198; D. Miller &...",1960.04.24-Gilbert_Collier.pdf

In [47]:
shark_attack["Country"].value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64