In [27]:
import re

In [87]:
values = ["Jun", "Mar", "Apr", "jul", "Aug", "Jan", "kkmdadsf Jan", "ojsdnk Apr"]

In [93]:

months = ["Jan", "Apr"] 
x = []
for i in values:
    if i in months:
        x.append(i)
x

['Apr', 'Jan']

In [ ]:
def limpia_num(x):
    months = "Jan Feb Mar Oct Sep Apr May Jun Jul Aug Nov Dec" 
    x = str(x)
    for i in x:
        if i in months:
            return i
        else:
            return ""

In [54]:

x = "-"
num = "1234567890"
for i in listaa:
    if i.isdigit():
         print (listaa.remove(i))

None

In [55]:
print (limpia_meses)

<function limpia_meses at 0x000001BF4379D630>

In [56]:
def limpia(x):
    no_digits = ["Jan"]
    for i in x:
        for e in i:
            if not e.isdigit():
                return no_digits.append(e)

In [57]:
print (limpia(values))

None

In [58]:
def limpia(x):
    reg = r"[\d]"
    no_digits = []
    for i in x:
        return i.replace(reg, "")

In [59]:
print (limpia(x))

-

In [67]:
def limpia_num(values):
    months = "Jan" 
    x = []
    for i in range(len(values)):
        if i != months:
            return x.append(i)

In [68]:
print (limpia_num(values))

None

In [36]:

f = 'ATCTGTCGTYCACGT'
for i in f:                                                                                                                        
    if i != 'A' and i != 'C' and i != 'G' and i != 'T':                                                                             
        print(i)

Y